@import url("https://fonts.googleapis.com/css?family=Montserrat");
@media only screen and (max-width: 900px) {
  /* line 5, ../sass/responsive.scss */
  .message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 230px;
  }
}
@media only screen and (min-width: 900px) {
  /* line 11, ../sass/responsive.scss */
  .message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 230px;
  }
}
/* line 1, ../sass/.env.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2e2f2f;
}

/* line 5, ../sass/.env.scss */
::-webkit-scrollbar {
  width: 6px;
  background-color: #2e2f2f;
}

/* line 9, ../sass/.env.scss */
::-webkit-scrollbar-thumb {
  background-color: #f51754;
}

/* line 13, ../sass/.env.scss */
.success {
  background-color: #27ae60;
}

/* line 17, ../sass/.env.scss */
.danger {
  background-color: #e74c3c;
}

/* line 21, ../sass/.env.scss */
.warning {
  background-color: #e67e22;
}

/* line 25, ../sass/.env.scss */
.info {
  background-color: #3498db;
}

/* line 29, ../sass/.env.scss */
.dark {
  background-color: #34495e;
}

/* line 33, ../sass/.env.scss */
.primary {
  background-color: #f51754;
}

/* line 8, ../sass/application.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url("http://www.hd-wallpaper.images-fonds.com/modules/mg3/albums/Paysages_(landscapes)_Wallpaper_HD/Paysages/Paysage_(landscape)_wallpaper_HD_0040.jpg");
  background-repeat: no-repeat;
  color: white;
  font-family: 'Segoe Ui';
  overflow-x: hidden;
}
/* line 19, ../sass/application.scss */
body h1, body h2, body h3, body h4, body h5, body h6, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}

/* line 24, ../sass/application.scss */
.red {
  color: #f51754;
}

/* line 28, ../sass/application.scss */
.form-control {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 32, ../sass/application.scss */
.fas {
  color: #E2E2E3;
}
/* line 34, ../sass/application.scss */
.fas:hover {
  cursor: pointer;
  color: #f51754;
}

/* line 40, ../sass/application.scss */
.color_vip {
  display: none;
  z-index: 2000 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 48, ../sass/application.scss */
.color_vip .content_vip {
  position: absolute;
  height: 350px;
  width: 550px;
  background-color: #1f1f1f;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 15px 15px;
}
/* line 58, ../sass/application.scss */
.color_vip .content_vip input {
  width: 99%;
  height: 27.5px;
  text-indent: 15px;
  background: #E2E2E3;
  border: none;
  outline: none;
  border: 1px solid #E2E2E3;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
/* line 69, ../sass/application.scss */
.color_vip .content_vip input:focus {
  border-bottom: 2px solid #f51754;
  color: #f51754;
}
/* line 73, ../sass/application.scss */
.color_vip .content_vip button {
  margin-top: 10px;
  background-color: #f51754;
  color: #E2E2E3;
  width: 99%;
  height: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
/* line 82, ../sass/application.scss */
.color_vip .content_vip button:hover {
  cursor: pointer;
  background: #1f1f1f;
  color: #f51754;
  border: 1px solid #f51754;
}

/* line 91, ../sass/application.scss */
.masque_color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 47, 0.8);
}

/* line 98, ../sass/application.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 100, ../sass/application.scss */
li {
  list-style: none;
  padding: 5px 5px;
}
/* line 104, ../sass/application.scss */
li .date {
  margin-top: 7px;
  font-size: 12px;
  font-weight: bold;
  float: right;
}

/* line 111, ../sass/application.scss */
.list_user_connected {
  list-style: none;
  padding: 10px 10px;
}

/* line 138, ../sass/application.scss */
.header {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  font-size: 23px;
  text-indent: 20px;
  background-color: #272928;
  color: white;
  text-transform: uppercase;
}

/* line 152, ../sass/application.scss */
.menu {
  display: none;
  z-index: 5;
  position: absolute;
  top: 60px;
  right: 0;
  height: 70px;
  width: 200px;
  line-height: 70px;
  text-align: center;
  background-color: #272928;
}
/* line 166, ../sass/application.scss */
.menu a {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  text-decoration: none;
  font-size: 30px;
  color: #f51754;
}

/* line 179, ../sass/application.scss */
.view {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 60px;
}
/* line 183, ../sass/application.scss */
.view .alert__users {
  display: none;
  position: absolute;
  z-index: 5000 !important;
  top: 15px;
  right: 15px;
  width: 350px;
  height: auto;
  padding: 10px 15px;
}
/* line 194, ../sass/application.scss */
.view .alerte_maintenance {
  position: absolute;
  z-index: 1000 !important;
  left: 250px;
  right: 230px;
  height: 35px;
  line-height: 35px;
  background-color: #3498db;
  padding: 0 25px;
  text-align: center;
}
/* line 206, ../sass/application.scss */
.view .clear {
  position: fixed;
  top: 12.5px;
  right: 15px;
  float: right;
  font-size: 35px;
}
/* line 212, ../sass/application.scss */
.view .clear:hover {
  cursor: pointer;
  color: #f51754;
}
/* line 218, ../sass/application.scss */
.view .list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
}
/* line 227, ../sass/application.scss */
.view .list .devenir__vip {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #f51754;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  color: white;
  text-align: center;
}
/* line 238, ../sass/application.scss */
.view .list .devenir__vip:hover {
  cursor: pointer;
}
/* line 243, ../sass/application.scss */
.view .list .title-list {
  position: relative;
  height: 30px;
  line-height: 30px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #1f1f1f;
  text-align: center;
}
/* line 252, ../sass/application.scss */
.view .list li {
  height: 20px;
  left: 25px;
  line-height: 20px;
  font-size: 14px;
  text-indent: 35px;
}
/* line 260, ../sass/application.scss */
.view .list .avatar_list {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 2.5px;
  position: absolute;
  margin-left: -35px;
  margin-right: 25px;
}
/* line 271, ../sass/application.scss */
.view .channel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 230px;
  float: right;
  background-color: #1f1f1f;
}
/* line 1, ../sass/_information.scss */
.view .channel .information_profil {
  height: 270px;
  width: 100%;
  background-color: #2e2f2f;
}
/* line 6, ../sass/_information.scss */
.view .channel .information_profil .pics_profil {
  padding-top: 25px;
  height: 180px;
  width: 100%;
}
/* line 11, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .pics_profil_avatar {
  position: absolute;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 21, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect {
  margin-top: 115px;
  text-align: center;
}
/* line 24, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect p {
  font-size: 18px;
}
/* line 27, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect .sous_title {
  font-size: 14px;
}
/* line 30, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect .icon_profil {
  margin-top: 10px;
}
/* line 32, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect .icon_profil .icon_profil {
  font-size: 25px;
  padding: 0 10px;
}
/* line 35, ../sass/_information.scss */
.view .channel .information_profil .pics_profil .information__connect .icon_profil .icon_profil:hover {
  cursor: pointer;
  color: #f51754;
}
/* line 45, ../sass/_information.scss */
.view .channel .list__salon__active {
  position: absolute;
  margin-top: 65px;
  height: auto;
  left: 0;
  right: 0;
  padding: 10px 0;
}
/* line 53, ../sass/_information.scss */
.view .channel .list__salon__active .name__salon {
  height: 10px;
  font-size: 15px;
  line-height: 10px;
  padding: 10px 10px;
}
/* line 58, ../sass/_information.scss */
.view .channel .list__salon__active .name__salon:hover {
  cursor: pointer;
  background: rgba(245, 23, 84, 0.4);
}
/* line 64, ../sass/_information.scss */
.view .channel .list__salon__active .active__salon {
  background: rgba(245, 23, 84, 0.4);
}
/* line 283, ../sass/application.scss */
.view .message {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px 25px;
}
/* line 296, ../sass/application.scss */
.view .message .left {
  float: left;
  width: 100%;
  color: #f51754;
  word-break: break-all;
}
/* line 304, ../sass/application.scss */
.view .message .right {
  float: left;
  width: 100%;
  color: #E2E2E2;
  word-break: break-all;
}

/* line 314, ../sass/application.scss */
.send {
  position: absolute;
  height: 60px;
  background-color: #272928;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 321, ../sass/application.scss */
.send form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 10px;
}
/* line 326, ../sass/application.scss */
.send form input {
  width: 82%;
  border: none;
  height: 100%;
  float: left;
  background: transparent;
  border: none;
  outline: none;
  color: #E2E2E3;
  font-size: 18px;
}
/* line 340, ../sass/application.scss */
.send form button {
  position: absolute;
  top: 0px;
  width: 14%;
  height: 100%;
  right: 0;
  background: transparent;
  border: none;
  color: white;
}
/* line 351, ../sass/application.scss */
.send form button i {
  font-size: 25px;
  color: #e5214a;
}
