@import "color";
@import "responsive";

@import url('https://fonts.googleapis.com/css?family=Montserrat');


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #2e2f2f;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #2e2f2f;
}
::-webkit-scrollbar-thumb {
    background-color: $rouge;
}

body, html{
    margin: 0;
    padding:0;
    font-size:16px;
    // background-color:#2e2f2f;
    background-image:url('http://www.hd-wallpaper.images-fonds.com/modules/mg3/albums/Paysages_(landscapes)_Wallpaper_HD/Paysages/Paysage_(landscape)_wallpaper_HD_0040.jpg');
    background-repeat: no-repeat;
    color: white;
    font-family: 'Segoe Ui';
    overflow-x: hidden;

    h1, h2, h3, h4, h5, h6{
        margin: 0;
    }
}

.red{
    color: $rouge;
}

.form-control{
    margin-top:25px;
    margin-bottom:25px;
}

.color_vip{
    z-index: 2000 !important;
    position: absolute;
    height: 100%;
    width: 100%;
    background:rgba(black, 0.8);

    .content_vip{
        position: absolute;
        height: 350px;
        width: 550px;
        background-color: $fond-list;
        left: 0; right: 0; 
        top: 0; bottom: 0;
        margin: auto;
        padding:15px 15px;

        input{
            width: 99%;
            height:27.5px;
            text-indent: 15px;
            background: $grey;
            border: none;
            outline: none;
            border: 1px solid $grey;
            color: black;
            font-family: 'Montserrat', sans-serif;
        }
        input:focus{
            border-bottom:2px solid $rouge;
            color: $rouge;
        }
        button{
            margin-top:10px;
            background-color: $rouge;
            color: $grey;
            width: 99%;
            height: 30px;
            border: none;
            font-family: 'Montserrat', sans-serif;
        }
        button:hover{
            cursor: pointer;
            background: $fond-list;
            color: $rouge;
            border:1px solid $rouge;
        }
    }
}

.masque_color{
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(#2e2f2f, 0.8);
}

p{margin:0; padding:0;}

li{
    list-style: none;
    padding:5px 5px;

    .date{
        margin-top:7px;
        font-size:12px;
        font-weight: bold;
        float: right;
    }
}
.list_user_connected{
    list-style: none;
    padding:10px 10px;
}

// .menu__logo{
//     z-index: 2;
//     position:absolute;
//     display:block;
//     right:0;
//     width: 50px;
//     height: 60px;

//     cursor:pointer;

//     &:after{
//         content:'';
//         position: absolute;
//         display: block;
//         width: 1rem;
//         height: 0;
//         top: 13px;
//         left: 15px;
//         @include box-shadow(0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF);
//     }
// }

.header{
    position: absolute;
    height: 60px;

    top: 0; left: 0; right: 0;
    line-height: 60px;

    font-size:23px;
    text-indent: 20px;
    background-color: $header-background;
    color: white;
    text-transform: uppercase;
}

.menu{
    display:none;
    z-index:5;

    position: absolute;
    top: 60px;
    right: 0;
    height: 70px;
    width: 200px;
    line-height: 70px;
    text-align: center;

    background-color: $header-background;

    a{
        position: relative;
        display: block;
        float: left;
        width: 50%;
        height:100%;
        text-decoration: none;
        font-size:30px;
        color: $rouge;

    }
}

.view{
    position: absolute;
    top: 60px; left: 0; right:0; bottom: 60px;

    .alert__users{
        display: none;
        position: absolute;
        z-index:1000 !important;
        bottom: 15px;
        left: 15px;
        width: 350px;
        height: auto;
        background-color: #e74c3c;
        padding: 10px 15px;
    }

    .alerte_maintenance{
        position: absolute;
        z-index:1000 !important;
        left: 250px;
        right: 230px;
        height: 35px;
        line-height: 35px;
        background-color: #3498db;
        padding: 0 25px;
        text-align: center;
    }

    .clear{
        position: fixed;
        top:12.5px;
        right: 15px;
        float: right;
        font-size: 35px;
        &:hover{
            cursor: pointer;
            color: $rouge;
        }
    }

    .list{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width:250px;
        height: 100%;
        background-color: $fond-list;

        .devenir__vip{
            position: absolute;
            bottom: 0;
            height: 40px;
            width: 100%;
            left: 0; right: 0;
            background-color: red;
            line-height: 40px;
            color: white;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
        }

        .title-list{
            position: relative;
            height: 30px;
            line-height: 30px;
            left:0; right: 0; top: 0;
            background-color: $fond-list;
            text-align: center;
        }

        li{
            height:20px;
            left: 25px;
            line-height: 20px;
            font-size:14px;
            text-indent: 35px;
        }

        .avatar_list{
            height:25px;
            width:25px;
            border-radius:50%;
            margin-top:2.5px;
            position: absolute;
            margin-left:-35px;
            margin-right: 25px;
        }
    }

    .channel{
        position: absolute;
        top: 0;
        bottom: 0; right: 0;
        height: 100%;
        width: 230px;
        float: right;
        background-color: $fond-list;

        @import 'information';
    }

    .message{
        overflow-x:hidden;
        overflow-y:scroll;
        padding: 15px 25px;

        // li:first-child{
        //     margin-top:10px;
        // }

        // li{
        //     margin-bottom:10px;
        // }

        .left{
            float: left;
            width:100%;
            // background-color:$background-color-left;
            color: $color-left;
            word-break: break-all;

        }
        .right{
            float: left;
            width:100%;
            // background-color:$background-color-right;
            color: $color-right;
            word-break: break-all;
        }
    }
}

.send{
    position: absolute;
    height: 60px;
    background-color: $section-send;
    // @include clearfix;
    bottom:0; right:0; left: 0;

    form{
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        padding: 10px 10px;

        input{
            width:82%;
            border: none;
            height: 100%;
            float:left;
            // Style
            background:transparent;
            border:none;
            outline: none;
            color: $grey;
            font-size:18px;
            // @include input-placeholder {color:#EFEFEF; font-size:16px;}
        }
        
        button{
            position: absolute;
            top: 0px;
            width:14%;
            height: 100%;
            right:0;
            // Style
            background:transparent;
            border:none;
            color: white;

            i{font-size:25px; color: #e5214a;}
        }
    }
}

