$section-send: #272928;
$header-background: #272928;
$background-view:#171918;
$grey:#E2E2E3;
$border-input-send: #f51754;

$color-left:#f51754;
$background-color-left:#E2E2E2;

$color-right:#E2E2E2;
$background-color-right:#f51754;

$footer__menu: #272928;
$background-color-li-menu:#e5214a;
$fond-list:#1f1f1f;
$rouge:#f51754;