@media only screen and (max-width: 900px){
	// .list{
	// 	display: none;
	// }
	.message{
		position: absolute;
        top:0; bottom: 0; left: 0px; right: 230px;
	}
}
@media only screen and (min-width: 900px){
	.message{
		position: absolute;
        top:0; bottom: 0; left: 250px; right: 230px;
	}
}







